.edit label {
    margin-right: 15px;
    font-size: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 85px;
}

.edit {
    text-align: right;
    margin-top: 20px;
    padding: 5px;
}

.edit input {
    margin: 15px;
    border-radius: 5px;
    width: 200px;
}

.edit .submit {
    width: 120px;
    background-color: rgb(102, 255, 255);
    border-radius: 9px;
    margin-right: 54px;
}