.login label {
    margin-right: 15px;
    font-size: 20px;
}

.title {
    text-align: center;
    margin-left: 100px;
}

.login {
    text-align: right;
    padding: 5px;
}

.login input {
    margin: 15px;
    border-radius: 5px;
}

.login .submit {
    width: 120px;
    background-color: rgb(102, 255, 255);
    border-radius: 9px;
    margin-right: 50px;
}